<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chatochi</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/chat.js" defer></script>
</head>
<body>
    <form id="message-form">
        <h1>Chatochi</h1>
        <input type="text" id="text-field" placeholder="Type Your Message...">
        <input type="button" value="Send Location" class="btn" id="location-btn">
        <input type="button" value="Send" class="btn" id="send-btn">
    </form>
    <div id="display-messages">
     </div>
</body>
</html>